*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  border: none;
  outline: none;
}
ul li{
  list-style-type: none;
}
.clearfix:after {
  content: "";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  }
  img {

    border: none
  }
  div#nav{
    padding:0;
    }
